body{
    font-family: 'Poppins', sans-serif;
    
    
}
h1{
    font-size: 30px;    
}
.change-color{
    color: blueviolet;
}
section{
    display: flex;
}
.maintain-size{
    width: 40%;
    padding-left: 10%;
}
.maintain-size img{
    width: 70%;
}
.link-box{
    text-decoration: none;
    background-image: linear-gradient(violet, indigo);
    padding: 10px;
    color: cornsilk;
    font-weight: 700;
    border-radius: 10px;
}
.maintain-size-again{
    width: 20%;
    
}
.maintain-size-again img{
    width: 500%; 
    padding-left: 1%;   
}
#size{
    padding-left: 40%;
    margin-top:10% ;
    
}
.large{
    text-align: center;
    padding-left: 400px;
}




.flex{
    display: flex;
}
.new-size img{
    width: 100%;
    
    
    
}
.new-size{
    box-shadow: 10px 10px 20px gray;
    width: 30%;
    border-radius: 40px;
    padding: 20px;
    margin-right: 40px;  
    
}

p{
    padding-left: 60px;
}
h3{
    padding-left: 60px;
    text-align: justify;
}

footer p{
    text-align: center;
    
    color: white;
    font-size: small;
    
    
    
}
footer h3{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.orange-color{
    color: orange;
}footer{
    background-color: black;
    margin-top: 5%;
    height: 150px;
}
.ttt{
    padding-left: 2px;
}